@font-face {
    font-family: JosefinSans-Light;
    src: url(./font/JosefinSans-Light.ttf);
}
@font-face{
    font-family: PingFang;
    src: url('./font/苹方黑体-准-简.ttf');
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://www.coolku.cc/api/bing/mo.php');
    /* background: linear-gradient(to right, #4b6cb7, #182848); */
    background-size: cover;  
    /* font-family: JosefinSans-Light; */
    position: relative;
    font-family: PingFang;
}
.time-bar{
    width: 1050px;
    position: absolute;
    top:10px;
    display: flex;
    flex-direction: column;
   align-items: center;
    font-size: 70px;
    font-weight:900;
    font-family:PingFang;
    color: #F0F8FF;
    user-select: none;
    
}
#date{
    font-size:25px;
}
/* .songlist{
    width: 190px;
    height: 280px;
    background-color: #add5a2;
    position: relative;
    right: 30px;
} */

.player{
    width: 480px;
    height: 354px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 15px rgb(54,79,60,0.4);
    /* transition: all 0.5s ease-in-out; */
}

.player .img{
    width: 100%;
    height: 100%;
    user-select: none;

}
.player .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: all 0.5s ease-in-out;
}
.info{
    width: 100%;
    height: 145px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    transform: translateY(35px);
    transition: all 0.5s ease-in-out;
}

.player:hover .info{
    transform: translateY(0px);
}
.player:hover .img img{
    transform: scale(1.1);
}
.info .progress{
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}
.info .progress #start,
.info .progress #end{
    margin: 0 12px;
    user-select: none;
}
.info .progress #bar{
    width: 400px;
    height: 12px;
    border-radius: 4px ;
    background-color: rgb(222,230,238);
    position: relative;

}
#now {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 12px;
    width: 0%;
    border-radius: 4px ;
    background: rgb(92,179,204);
  }

  /* .now::after {
    content: '';
    position: absolute;
    left: 100%;
    width: 3px;
    height: 7px;
    background-color: lightblue;
  } */
.info .song-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.info .song-detail span{
    margin: 8px 0;
    height: 16px;
    user-select: none;
}
.info .song-detail #title{
    font-size:20px;
    font-weight: 900;
    letter-spacing: 2px;
}
.info .song-detail #author{
    letter-spacing: 1px;
}

.info .controls #navigation:hover{
    color:#8abcd1;
    transition: 0.5s;
}
.info .controls {
    margin-top:20px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.info .controls .play span{
    margin: 0 10px;
    cursor: pointer;
}
.info .controls span{
    user-select: none;
}
/* 隐藏audio标签 */
.audio{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
#img-loction{
    position: absolute;
    bottom: 100px;
    left: 100px;
    color: #F0F8FF;
}
