@font-face {
  font-family: "iconfont"; /* Project id 3743051 */
  src: url('iconfont.woff2?t=1667480175528') format('woff2'),
       url('iconfont.woff?t=1667480175528') format('woff'),
       url('iconfont.ttf?t=1667480175528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shunxubofang:before {
  content: "\e6a1";
}

.icon-ziyuanldpi:before {
  content: "\e60f";
}

.icon-shengyinguanbi:before {
  content: "\e6ec";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-yinliang:before {
  content: "\e662";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-daohang:before {
  content: "\e63b";
}

.icon-daohangdizhi:before {
  content: "\e65e";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-ziyuan:before {
  content: "\e637";
}

